.navbar {
    background-color: #0b0d17 !important; /* Un negro azulado muy espacial */
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

/* Efecto hover en los enlaces */
.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #4fc3f7 !important; /* Azul claro al pasar el ratón */
}

/* Estilo para el enlace ACTIVO (la página actual) */
.nav-link.active {
    color: #e91e63 !important; /* Rosa para destacar */
    font-weight: bold;
    border-bottom: 2px solid #e91e63;
}
